/* .prose {
  overflow: visible; 确保父元素不会裁剪子元素 
} */

.prose figure {
  --shiki-dark: #adbac7;
  --shiki-light: #24292e;
  --shiki-dark-bg: #22272e;
  --shiki-dark-bg-rgb: 34, 39, 46;
  --shiki-light-bg: #fff;
  --shiki-light-bg-rgb: 255, 255, 255;
}

.prose pre[data-theme] {
    /* @apply bg-transparent; */
}

.prose {
  pre {
    @apply !p-0 
    /* my-4 */
      rounded-md 
      ;
  }
  pre code {
    /* 防止子元素宽度溢出 */
    @apply py-3 
    rounded-md 
     grid overflow-x-auto;
  }
  figure:has([data-rehype-pretty-code-title]) pre code,
  figure:has([data-rehype-pretty-code-title]) pre {
    @apply rounded-t-none;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
  }
  figure:has([data-rehype-pretty-code-caption]) pre code,
  figure:has([data-rehype-pretty-code-caption]) pre {
    @apply rounded-b-none;
  }
  figure {
    [data-rehype-pretty-code-title],
    [data-rehype-pretty-code-caption] {
      @apply bg-[rgba(var(--shiki-dark-bg-rgb),0.1)];
    }
    [data-rehype-pretty-code-title] {
      @apply text-lg font-semibold rounded-t-md px-4;
    }
    [data-rehype-pretty-code-caption] {
      @apply  font-normal rounded-b-md px-4;
    }
  }
}

.prose pre [data-line] {
    @apply px-4 border-l-2 border-l-transparent;
}

.prose  code[data-theme] {
  
  @apply bg-transparent ;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  /* background-color: var(--shiki-light-bg); */
  /* background-color: hsl(60, 47%, 97%); */
}
    /* 行高亮 */
.prose pre [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.3);
  @apply border-l-blue-400;
}
 
@media (prefers-color-scheme:dark) {
.dark {
  .prose {
    figure {
      [data-rehype-pretty-code-title],
      [data-rehype-pretty-code-caption] {
        @apply bg-[rgba(var(--shiki-light-bg-rgb),0.1)];
      }
    }
  }
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    /* @apply p-0.5; */
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
  code[data-theme*=" "] span span {
    @apply bg-transparent;
  }
  /* 行高亮 */
  .prose pre {
    [data-highlighted-chars],
    [data-highlighted-line] {
      background: rgba(200, 200, 255, 0.1);
      @apply border-l-blue-400;
    }
    span code[data-theme],
    mark[data-chars-id="g"],
    span[data-highlighted-line-id="g"] {
      @apply bg-green-400/20 border-l-green-400;
    }
    mark[data-chars-id="r"],
    span[data-highlighted-line-id="r"] {
      @apply bg-red-400/20 border-l-red-400;
    }
    mark[data-chars-id="y"],
    span[data-highlighted-line-id="y"] {
      @apply bg-yellow-400/20 border-l-yellow-400;
    }
  
    span[data-highlighted-line-id="b"] {
      @apply bg-blue-400/20 border-l-blue-400;
    }
  
    mark[data-chars-id="b"]{
      @apply !bg-blue-400/20;
      box-shadow: 0 0 0 2px var(--color-blue-400)/20;
    }
  }
  /* 代码块高亮 */
  .prose span code>span,
  .prose [data-highlighted-chars] {
    /* background: rgba(200,200,255,0.1); */
    @apply bg-[rgba(200,200,255,0.1)]
    /* !bg-zinc-600/50 */
      rounded;
    /* box-shadow: 0 0 0 2px rgb(82 82 91 / 0.5); */
    box-shadow: 0 0 0 2px rgba(200, 200, 255, 0.1);
  }
}}

.prose pre mark[data-chars-id="g"],
.prose pre span[data-highlighted-line-id="g"] {
  @apply bg-green-400/20 border-l-green-400;
}
.prose pre mark[data-chars-id="r"],
.prose pre span[data-highlighted-line-id="r"] {
  @apply bg-red-400/20 border-l-red-400;
}
.prose pre mark[data-chars-id="y"],
.prose pre span[data-highlighted-line-id="y"] {
  @apply bg-yellow-400/20 border-l-yellow-400;
}

.prose pre span[data-highlighted-line-id="b"] {
  @apply bg-blue-400/20 border-l-blue-400;
}

.prose pre mark[data-chars-id="b"]{
  @apply !bg-blue-400/20;
  box-shadow: 0 0 0 2px var(--color-blue-400)/20;
}

code[data-line-numbers] {
    counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
counter-increment: line;
content: counter(line);
@apply inline-block w-4 mr-4 text-right text-gray-500;
}

