@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './tailwindcss.css'; */
@import './swagger.css';


body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}
/* 针对移动设备的额外处理 */
body {
  touch-action: none; /* 禁用触摸滚动 */
}

@layer base {
  :root {
    --background: 75 59% 93%;
    --background-var: hsl(75, 59%, 93%, 0.6);
    --background-1: hsl(199, 46%, 86%);
    --background-2: hsl(216, 73%, 84%);
    --background-3: hsl(250, 65%, 88%);
    --background-4: hsl(286, 27%, 88%);
    --background-5: hsl(65, 25%, 91%);
    --background-6: hsl(75, 59%, 93%);

    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --border-v: hsl(20 5.9% 90%);
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0, 0%, 98% ,0.4;
    --sidebar-background-var: rgba(250, 250, 250, 0.2);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    /* --background: 20 14.3% 4.1%; */
    
    --background: 240 10% 3.9%;
    --background-v: hsla(245, 34%, 15%, 0.2);
    --background-1: hsl(222, 72%, 7%);
    --background-2: hsl(234, 31%, 12%);
    --background-3: hsl(240, 31%, 10%);
    --background-4: hsl(240, 28%, 14%);
    --background-5: hsl(248, 21%, 14%);
    --background-6: hsl(267, 83%, 5%);

    --foreground: 60 9.1% 97.8%;
    --card: 240 24% 11%;
    --card-v: hsl(240, 24%, 11%);
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 240, 12%, 25%;
    --secondary-v: hsl(240, 12%, 25%);
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 14% 16%;
    --muted-hover: 240 14% 27%;
    ----muted-hover-v: hsl(240, 14%, 27%);
    --muted-40: 240, 15%, 21%, 0.4;
    --muted-v: hsla(240, 14%, 16%, 0.5);
    --muted-v-40: hsla(240, 15%, 21%, 0.4);
    --muted-foreground: 24 5.4% 63.9%;
    --muted-foreground-v: hsl(24 5.4% 63.9%);
    --accent: 240 11% 34%;
    --accent-v: hsl(240, 11%, 34%);
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 215, 25%, 27%, 0.5;
    --border-v: hsla(10, 3%, 36%, 0.541);
    --border-v-blue: hsla(215, 25%, 27%, 0.5);
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 246, 57%, 7%, 0.6;
    --sidebar-background-var: hsla(247, 57%, 9%, 0.432);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 11% 26%;
    --sidebar-accent-v: hsla(248, 11%, 26%, 0.826);
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.bg-m {
  background: linear-gradient(to bottom right,
  var(--background-1),
  var(--background-2),
  var(--background-3),
  var(--background-4),
  var(--background-5),
  var(--background-6)
  );
  min-height: 100vh; /* 确保背景渐变应用到整个页面高度 */
  background-attachment: fixed; /* 确保背景渐变固定在视口上 */
}

html, body, :root {
  @apply max-h-screen;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply 
    /* bg-background  */
    bg-m
    text-foreground;
  }
}

@layer utilities {
  .glow-purple-box-shadow {
    box-shadow: 0 0 2px #0e002000, 0 0 7px #780afe75, 0 0 5px #780afe75, 0 0 18px #780afe75;
  }
  .glow-purple {
    color: #f4edf7;
    text-shadow: 0 0 2px #0e002000, 0 0 7px #780afe75, 0 0 5px #780afe75, 0 0 18px #780afe75;
  }
}