@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './tailwindcss.css'; */
@import './swagger.css';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 75, 59%, 93%, 0.6;
    --background-var: hsl(75, 59%, 93%, 0.6);
    --background-1: hsl(199, 46%, 86%);
    --background-2: hsl(216, 73%, 84%);
    --background-3: hsl(250, 65%, 88%);
    --background-4: hsl(286, 27%, 88%);
    --background-5: hsl(65, 25%, 91%);
    --background-6: hsl(75, 59%, 93%);

    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0, 0%, 98% ,0.4;
    --sidebar-background-var: rgba(250, 250, 250, 0.2);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    /* --background: 20 14.3% 4.1%; */
    
    --background: 244, 35%, 19%, 0.2;
    --background-v: hsla(244, 35%, 19%, 0.2);
    --background-1: hsl(220, 73%, 9%);
    --background-2: hsl(234, 31%, 12%);
    --background-3: hsl(240, 32%, 12%);
    --background-4: hsl(240, 26%, 17%);
    --background-5: hsl(251, 20%, 17%);
    --background-6: hsl(267, 78%, 7%);

    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240, 28%, 23% , 0.5;
    --sidebar-background-var: hsla(240, 28%, 23%, 0.3);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.bg-m {
  background: linear-gradient(to bottom right,
  var(--background-1),
  var(--background-2),
  var(--background-3),
  var(--background-4),
  var(--background-5),
  var(--background-6)
  );
  min-height: 100vh; /* 确保背景渐变应用到整个页面高度 */
  background-attachment: fixed; /* 确保背景渐变固定在视口上 */
}

html, body, :root {
  @apply max-h-screen;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply 
    /* bg-background  */
    bg-m
    text-foreground;
  }
}

@layer utilities {
  .glow-purple-box-shadow {
    box-shadow: 0 0 2px #0e002000, 0 0 7px #780afe75, 0 0 5px #780afe75, 0 0 18px #780afe75;
  }
}