.swagger-ui {
    @apply text-[#3b4151] dark:text-slate-200;
}
.swagger-ui .info .title {
    @apply text-[#3b4151] dark:text-slate-200;
}
.swagger-ui .opblock-tag {
    @apply text-[#3b4151] dark:text-slate-200;
}
.opblock-summary-path,
.opblock-description-wrapper p{
    @apply text-[#3b4151] dark:!text-slate-200;
}
.swagger-ui .parameter__name {
    @apply text-[#3b4151] dark:text-slate-300;
}
.swagger-ui .parameter__type {
    @apply text-[#3b4151] dark:text-slate-300;
}
.swagger-ui .prop-format {
    @apply !text-violet-500 dark:text-violet-300;
}
.swagger-ui .parameter__extension, .swagger-ui .parameter__in {
    @apply text-[grey] dark:text-slate-400;
}
.swagger-ui .json-schema-2020-12-expand-deep-button {
    @apply !text-[#505050] dark:!text-slate-400;
}
.swagger-ui .json-schema-2020-12__attribute--primary {
    @apply text-violet-400 dark:text-violet-400
}
.swagger-ui .json-schema-2020-12-property .json-schema-2020-12__title {
    @apply text-[#3b4151] dark:text-slate-300;
}
.swagger-ui textarea {
    @apply !bg-[hsla(0,0%,100%,.6)] dark:!bg-[#110c2483] text-[#3b4151] dark:text-slate-300;
}
.swagger-ui .opblock .opblock-section-header h4 {
    @apply text-[#3b4151] dark:text-slate-300;
}

.swagger-ui .btn {
    @apply text-[#3b4151] dark:text-slate-300;
}

.swagger-ui select {
    @apply bg-[#f7f7f7] dark:bg-[#110c2483] text-[#3b4151] dark:text-slate-300;
}

.swagger-ui .response-col_links {
    @apply text-[#3b4151] dark:text-slate-300;
}

.swagger-ui .responses-inner h4, .swagger-ui .responses-inner h5 {
    @apply text-[#3b4151] dark:text-slate-300;
}

.swagger-ui .response-control-media-type__accept-message {
    @apply text-[green] dark:text-green-300;
}

.swagger-ui .tab li {
    @apply text-[#3b4151] dark:!text-slate-300;
}
.swagger-ui table thead tr td, .swagger-ui table thead tr th {
    @apply text-[#3b4151] dark:!text-slate-300;
}
.swagger-ui .response-col_status {
    @apply text-[#3b4151] dark:!text-slate-300;
}

.swagger-ui .opblock .opblock-section-header {
    @apply !bg-[hsla(0,0%,100%,.6)] dark:!bg-[#110c2483];
}